h1{
    font-family: 'Josefin Sans', sans-serif;
}
h1{
    color:#42d7f5;
}
.about{
    font-family: 'Indie Flower', cursive;
}
.about{
    color:#78a9ff;
}
.interests{
    font-family: 'Shadows Into Light', cursive;
}
.interests{
    color:#67b0f5;
}
body{
    background:
       gold;
}